@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

.slider-bg-img{
  background-image: url('./../src/assets/bg02.jpg');
  height: 440px;
}

.banner-img{
  background-image: url('./../src/assets/banner.jpg');
}
.banner-m-img{
  background-image: url('./../src/assets/JASS-MAX1-Lubricant-banner-m.jpg');
  height: 95vh;
}
.swiper-slide {
  height: 00px;
  line-height: 300px;
  text-align: center;
  border-radius: 25px;

}